/.DS_Store
.vscode/c_cpp_properties.json
main
trash.md
.gitignore
src/datampi_1.png
src/dataopenmp_1.png
src/dataopenmp_1.csv
src/datampi_1.csv
./src
.gitignore
main 3
main 2
main(1)
graph.py
src/.DS_Store
src/openMP/openmp.png
./src/openMP
src/MPI/mpi_2.csv
src/MPI/mpi.png
src/MPI/mpi_4.csv
src/openMP/openmp_2TH.csv
src/openMP/openmp_3TH.csv
src/openMP/openmp_5TH.csv
graph_2.py
